PORT=8000
CORS_ORIGIN=http://localhost:3000

MONGODB_URI=mongodb+srv://<username>:<db_password>@cluster0.ijz6qg1.mongodb.net/?appName=Cluster0

ACCESS_TOKEN_SECRET=<strong_random_secret>
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=<strong_random_secret>
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>